{
    "influx": {
        "url": "http://127.0.0.1:8086",
        "token": "",
        "org": "",
        "bucket": "",
        "batch_size": 10,
        "flush_interval_sec": 5
    },
    "nest": {
        "enable": true,
        "interval": 5,
        "project_id": "",
        "client_id": "",
        "client_secret": "",
        "refresh_token": "",
        "redirect_uri": ""
    },
    "accuweather": {
        "enable": false,
        "interval": 30,
        "apikey": "",
        "locationkey": "338659"
    },
    "openweathermap": {
        "enable": false,
        "interval": 10,
        "appid": "",
        "cityid": "4832294"
    },
    "weather.gov": {
        "enable": true,
        "interval": 10,
        "station": "KBOS"
    }
}
